$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #4d1d4d,
  secondary:  #555b6e,
  danger:     #FF6F0F,
  light:      #fefefe,
  dark:       #555
);

$primary-color: #4d1d4d;
$secondary-color: #555b6e;
$tertiary-color: #9c8ca0;
$light-gray: #ede9d8;
$dark-gray: #bdbbb6;

$base-font-size: 1.8rem;
$base-font-color: #333;

$base-spacing: 20px;
$small-spacing: $base-spacing / 2;
$xsmall-spacing: $base-spacing / 4;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $base-spacing * 3;

$default-transition-speed: 0.5s;

@import "ionic.theme.default";
@import "ionic.ionicons";
