$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #062F6E,
  secondary:  #7FBC03,
  danger:     #FF6F0F,
  light:      #fefefe,
  dark:       #555
);

$primary-color: #062F6E;
$secondary-color: #7FBC03;
$secondary-color-dark: #4A9C2D;
$tertiary-color: #7D277E;
$tertiary-color-dark: #2B184F;
$light-gray: #CECECE;
$dark-gray: #666666;
$accent-color: #D2EDF1;

$base-font-size: 1.8rem;
$base-font-color: #333;

$base-spacing: 20px;
$small-spacing: $base-spacing / 2;
$xsmall-spacing: $base-spacing / 4;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $base-spacing * 3;

@import "ionic.theme.default";
@import "ionic.ionicons";
