page-footer {
  footer {
    background-color: #BDBBB6;
    padding: $xlarge-spacing;
  }

  nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    img {
      cursor: pointer;
      display: inline-block;
      max-width: 200px;
    }

    .link-span {
      color: darken($dark-gray, 25);
      display: inline-block;
      font-size: smaller;
      transition: color $default-transition-speed;
    }

    .link-span:hover {
      color: $secondary-color-dark;
      transition: color $default-transition-speed;
    }
  }

  div {
    color: $dark-gray;
    margin-top: $large-spacing;
    text-align: center;

    span {
      font-size: small;
    }
  }

  .active {
    color: $primary-color !important;
  }
}
