<footer role="contentinfo">
  <nav>
    <img src="assets/imgs/logo.png" alt="Chris Patrick Ryan - Home" (click)="openPage('HomePage')" />
    <span class="link-span" (click)="openPage('PrivacyPolicyPage')">Privacy Policy</span>
    <span class="link-span" (click)="openPage('TermsOfServicePage')">Terms of Service</span>
    <span class="link-span" (click)="openPage('AdminPage')" [class.active]="activePage=='Admin'">Admin</span>
  </nav>
  <div>
    <span id="copyright">&copy; {{year}} Chris Patrick Ryan. All Rights Reserved.</span>
  </div>
</footer>
